body {
  margin: 0;
  padding-bottom: 3rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}

#form {
  background: rgba(0, 0, 0, 0.15);
  padding: 0.25rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 3rem;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
}

#input {
  border: none;
  padding: 0 1rem;
  flex-grow: 1;
  border-radius: 2rem;
  margin: 0.25rem;
}

#input:focus {
  outline: none;
}

#form > button {
  background: #333;
  border: none;
  padding: 0 1rem;
  margin: 0.25rem;
  border-radius: 3px;
  outline: none;
  color: #fff;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#messages > li {
  padding: 0.5rem 1rem;
}

#messages > li:nth-child(odd) {
  background: #efefef;
}

svg {
  border: 5px solid black;
}
.empty {
  fill: white;
  stroke: black;
}
.wall {
  fill: gray;
  stroke: black;
}

.item_load_zone {
  fill: rgb(93, 123, 179);
  stroke: black;
}

.station_zone {
  fill: rgb(170, 179, 48);
  stroke: black;
}

.robot_home_zone {
  fill: rgb(80, 109, 87);
  stroke: black;
}

.robot {
  fill: rgb(175, 14, 14);
  stroke: rgb(94, 0, 0);
}

text.robot_label {
  fill: beige;
}

text.robot_held_item_label {
  fill: aqua;
}

path {
    position: absolute;
    top: 0;
    left: 0;
    stroke: rgb(179, 138, 50);
    stroke-width: 4;
    fill: none;
}