<table class="subgroup">
  <thead>
    <th>Station ID</th>
    <th>Order ID Processing</th>
    <th>Items Needed</th>
  </thead>
  <tbody>
    {% for station, tasks in stations_and_tasks %}
      <tr>
        <td>{{ station.station_id }}</td>
        {% if station.is_available() %}
          <td>AVAILABLE</td>
        {% else %}
          <td>{{ station.order_id }}</td>
        {% endif %}

        <td>
          {% if station.has_order() %}
            <table>
              <tr>
                {% for task in tasks %}
                  {% if task.is_error() %}
                  <td class='failed'>{{ task.item_id | get_item_name }}{% if task.quantity > 1 %}x{{task.quantity}}{% endif %}</td>
                  {% elif task.is_complete() %}
                  <td class='complete'>{{ task.item_id | get_item_name }}{% if task.quantity > 1 %}x{{task.quantity}}{% endif %}</td>
                  {% else %}
                  <td class='incomplete'>{{ task.item_id | get_item_name}}{% if task.quantity > 1 %}x{{task.quantity}}{% endif %}</td>
                  {% endif %}
                {% endfor %}
              </tr>
            </table>
          {% endif %}

        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>