<table class="subgroup">
    <thead>
        <th>Order ID</th>
        <th>Status</th>
        <th>Created</th>
        <th>Finished</th>
        <th>Processing Time</th>
    </thead>
    <tbody>
        {% for order in orders: %}
            <tr>
                <td>{{ order.order_id }}</td>
                {% if order.is_complete() %}
                    <td class='complete'>{{ order.status }}</td>
                {% else %}
                    <td class='failed'>{{ order.status }}</td>
                {% endif %}
                
                <td>{{ order.created | strftime }}</td>
                <td>{{ order.finished | strftime}}</td>
                <td>{{ order.get_time_to_complete() | strftimedelta}}</td>
            </tr>
        {% endfor %}
        
    </tbody>
</table>